@media (min-width: 768px) {
  .font-size1 {
    font-size: var(--font-size1);
  }

  .fs-md-3 {
    font-size: calc(1.3rem + .6vw);
  }
}

@media (min-width: 992px) {
.font-size2 {
  font-size: var(--font-size2);
}

.fs-lg-2 {
  font-size: calc(1.325rem + .9vw);
}

  #play-5-slider .card img {
    width: 125px;
    margin: auto;
  }
}