@import url("variables.css");
@import url("queries.css");



/* GENERAL */
img {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

.btn-dark:hover {
  box-shadow: 3px 2px 3px var(--bs-dark);
}

.btn-primary:hover {
  box-shadow: 5px 4px 3px var(--bs-primary);
}

.btn-danger:hover {
  box-shadow: 5px 4px 3px var(--bs-danger);
}

.btn-light:hover {
  box-shadow: 5px 4px 3px var(--bs-light);
}

/* CONTENT */
header {
  font-weight: 600;
}

header ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

header li {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
}

header a {
  color: black;
  text-decoration: none;
}

footer ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

footer li {
  margin-bottom: 0.5rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

#logo-sony {
  width: 100px;
}

/* #jumbo-main {
  padding-top: 20rem;
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center;
} */

#returnal-img {
  height: 750px;
  object-fit: cover;
  object-position: center;
}

#ratchet-img {
  display: none;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

#jumbo-card {
  position: absolute;
  left: 0;
  bottom: 3rem;
}

#banner-game {
  width: 200px;
}

#play-5-slider .card {
  border: none;
}

#it-takes-two {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-size: cover;
  background-position: center;
}

#uscite .card {
  border: none;
}

#uscite .card img {
  border-radius: 20px;
}

#uscite .card-body {
  padding-left: 0;
  padding-right: 0;
}

#play-4 .card {
  border: none;
}

#plus {
  background-color: lightgray;
}

#now {
  background-color: rgb(0, 21, 44);
}

#socials {
  max-width: 500px;
  margin: auto;
}

.fa-chevron-down.fa-2xs {
  padding: 0 5px;
  vertical-align: baseline;
}

/* UTILITIES */
.logo-container {
  width: 50px;
  height: 50px;
}

.logo-md-container {
  width: 125px;
  height: 125px;
}

.jumbo-slider-container {
  border: none;
  border-radius: 20px;
  overflow: hidden;
}


#returnal-img:has(> a) {
  display: none;
}

.play5-slider-img {
  width: 100%;
}

.social-container:hover {
  transform: scale(1.1, 1.1);
}

.underline {
  text-decoration: underline;
}


/* DEBUG */