/* DEBUG */
div {
  padding: 1rem 0;
  border: 2px dashed red;
}

section {
  padding: 3rem 0;
  border: 2px dashed rgb(51, 0, 255);
}

footer {
  padding: 3rem 0;
  border: 2px dashed rgb(0, 0, 0);
}

.cont {
  width: 600px;
}

/* CONTENT */
header ul {
  list-style: none;
}

header li {
  display: inline-block;
}

/* UTILITIES */
