

/* DEBUG */

section {
  border: 2px dashed rgb(51, 0, 255);
}

footer {
  padding: 3rem 0;
  border: 2px dashed rgb(0, 0, 0);
}

/* RESET */
img {
  width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

/* CONTENT */
header {
  font-weight: 600;
}

header ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

header li {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
}

header a {
  color: black;
  text-decoration: none;
}

#logo-sony {
  width: 100px;
}

#jumbo-main {
  padding-top: 20rem;
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center;
}

#banner-game {
  width: 200px;
}

#play-5-slider .card {
  border: none;
}

#play-5-slider .card img {
  width: 125px;
  margin: auto;
}

#it-takes-two {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-size: cover;
  background-position: center;
}

#uscite .card {
  border: none;
}

#uscite .card img {
  border-radius: 20px;
}

#uscite .card-body {
  padding-left: 0;
  padding-right: 0;
}

#play-4 .card {
  border: none;
}

#socials {
  width: 500px;
  margin: auto;
}

.fa-chevron-down.fa-2xs {
  padding: 0 5px;
  vertical-align: baseline;
}

/* UTILITIES */
.logo-container {
  width: 50px;
  height: 50px;
}

.logo-md-container {
  width: 125px;
  height: 125px;
}

.jumbo-slider-container {
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

.social-container {
}